[submodule "shell/.local/share/ohmyzsh"]
	path = shell/.local/share/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "p10k/.local/share/ohmyzsh/custom/themes/powerlevel10k"]
	path = p10k/.local/share/ohmyzsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "nvim/.local/share/nvim/site/pack/default/start/vim-airline"]
	path = nvim/.local/share/nvim/site/pack/default/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "nvim/.local/share/nvim/site/pack/default/start/vim-airline-themes"]
	path = nvim/.local/share/nvim/site/pack/default/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "nvim/.local/share/nvim/site/pack/default/start/onedarkpro.nvim"]
	path = nvim/.local/share/nvim/site/pack/default/start/onedarkpro.nvim
	url = https://github.com/olimorris/onedarkpro.nvim
[submodule "nvim/.local/share/nvim/site/pack/default/start/which-key.nvim"]
	path = nvim/.local/share/nvim/site/pack/default/start/which-key.nvim
	url = https://github.com/folke/which-key.nvim
[submodule "nvim/.local/share/nvim/site/pack/default/start/plenary.nvim"]
	path = nvim/.local/share/nvim/site/pack/default/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim/.local/share/nvim/site/pack/default/start/telescope.nvim"]
	path = nvim/.local/share/nvim/site/pack/default/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "nvim/.local/share/nvim/site/pack/default/start/nvim-web-devicons"]
	path = nvim/.local/share/nvim/site/pack/default/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
[submodule "nvim/.local/share/nvim/site/pack/default/start/barbar.nvim"]
	path = nvim/.local/share/nvim/site/pack/default/start/barbar.nvim
	url = https://github.com/romgrk/barbar.nvim
