[submodule "shell/.local/share/ohmyzsh"]
	path = shell/.local/share/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "p10k/.local/share/ohmyzsh/custom/themes/powerlevel10k"]
	path = p10k/.local/share/ohmyzsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "nvim/.local/share/nvim/site/pack/default/start/onedarkpro.nvim"]
	path = nvim/.local/share/nvim/site/pack/default/start/onedarkpro.nvim
	url = https://github.com/olimorris/onedarkpro.nvim
[submodule "nvim/.local/share/nvim/site/pack/default/start/which-key.nvim"]
	path = nvim/.local/share/nvim/site/pack/default/start/which-key.nvim
	url = https://github.com/folke/which-key.nvim
[submodule "nvim/.local/share/nvim/site/pack/default/start/plenary.nvim"]
	path = nvim/.local/share/nvim/site/pack/default/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim/.local/share/nvim/site/pack/default/start/telescope.nvim"]
	path = nvim/.local/share/nvim/site/pack/default/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "nvim/.local/share/nvim/site/pack/default/start/nvim-web-devicons"]
	path = nvim/.local/share/nvim/site/pack/default/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
[submodule "nvim/.local/share/nvim/site/pack/default/start/barbar.nvim"]
	path = nvim/.local/share/nvim/site/pack/default/start/barbar.nvim
	url = https://github.com/romgrk/barbar.nvim
[submodule "nvim/.local/share/nvim/site/pack/default/start/vim-startify"]
	path = nvim/.local/share/nvim/site/pack/default/start/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "nvim/.local/share/nvim/site/pack/default/start/gitsigns.nvim"]
	path = nvim/.local/share/nvim/site/pack/default/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "nvim/.local/share/nvim/site/pack/default/start/vim-obsession"]
	path = nvim/.local/share/nvim/site/pack/default/start/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule "nvim/.local/share/nvim/site/pack/default/start/vimtex"]
	path = nvim/.local/share/nvim/site/pack/default/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "nvim/.local/share/nvim/site/pack/default/start/toggleterm.nvim"]
	path = nvim/.local/share/nvim/site/pack/default/start/toggleterm.nvim
	url = https://github.com/akinsho/toggleterm.nvim
[submodule "nvim/.local/share/nvim/site/pack/default/start/nvim-lspconfig"]
	path = nvim/.local/share/nvim/site/pack/default/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "nvim/.local/share/nvim/site/pack/default/start/nvim-cmp"]
	path = nvim/.local/share/nvim/site/pack/default/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp/
[submodule "nvim/.local/share/nvim/site/pack/default/start/cmp-nvim-lsp"]
	path = nvim/.local/share/nvim/site/pack/default/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "nvim/.local/share/nvim/site/pack/default/start/cmp-buffer"]
	path = nvim/.local/share/nvim/site/pack/default/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "nvim/.local/share/nvim/site/pack/default/start/cmp-path"]
	path = nvim/.local/share/nvim/site/pack/default/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "nvim/.local/share/nvim/site/pack/default/start/cmp-cmdline"]
	path = nvim/.local/share/nvim/site/pack/default/start/cmp-cmdline
	url = https://github.com/hrsh7th/cmp-cmdline
[submodule "nvim/.local/share/nvim/site/pack/default/start/LuaSnip"]
	path = nvim/.local/share/nvim/site/pack/default/start/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule "nvim/.local/share/nvim/site/pack/default/start/lualine.nvim"]
	path = nvim/.local/share/nvim/site/pack/default/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim
