#!/bin/sh

# shellcheck disable=SC1090
. ~/.profile

if [[ -n "`which luarocks 2>/dev/null`" ]]; then
    eval `luarocks path --bin`
fi

xinput set-prop 'Elan TrackPoint' 'libinput Button Scrolling Button' 0
xinput set-prop 'Elan Touchpad' 'libinput Natural Scrolling Enabled' 1
xinput set-prop 'Elan Touchpad' 'libinput Disable While Typing Enabled' 0
setxkbmap us -variant altgr-intl -option caps:ctrl_modifier

xinput set-prop 'TPPS/2 Elan TrackPoint' 'libinput Button Scrolling Button' 0
xinput set-prop 'SYNA8018:00 06CB:CE67 Touchpad' 'libinput Natural Scrolling Enabled' 1
xinput set-prop 'SYNA8018:00 06CB:CE67 Touchpad' 'libinput Disable While Typing Enabled' 0
